{% macro gtm_head(container_id) %}
  <!-- Google Tag Manager -->
  <script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ container_id }}');
  </script>
  <!-- End Google Tag Manager -->
{% endmacro %}

{% macro gtm_head_multi_container(container_ids) %}
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s);j.async=true;a=function(i){var s=j.cloneNode();s.src=
    'https://www.googletagmanager.com/gtm.js?id='+i;f.parentNode.insertBefore(s,f);
    };{% for container_id in container_ids %}a('{{ container_id }}');{% endfor %}
  })(window,document,'script','dataLayer');
  </script>
  <!-- End Google Tag Manager -->
{% endmacro %}

{% macro gtm_body_multi_container(container_ids) %}
  <!-- Google Tag Manager (noscript) -->
  <noscript>
  {%- for container_id in container_ids -%}
  <iframe src="https://www.googletagmanager.com/ns.html?id={{ container_id }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe>
  {%- endfor -%}
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endmacro %}

{% macro gtm_body(container_id) %}
  {{ gtm_body_multi_container([container_id]) }}
{% endmacro %}
