{% extends 'govuk_frontend_jinja/template.html' %}
{% from 'govuk_frontend_jinja/components/cookie-banner/macro.html' import govukCookieBanner %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block pageTitle %}Welcome to GOV.UK{% endblock %}

{% block head %}
  <meta name="description" content="GOV.UK - The place to find government services and information - simpler, clearer, faster.">
  {% assets "govuk_frontend_css" %}<!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" /><!--<![endif]-->{% endassets %}
  {% assets "govuk_frontend_ie8_css" %}<!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" /><![endif]-->{% endassets %}
  {% assets "govuk_publishing_components_css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />{% endassets %}
  {% assets "application_css" %}<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />{% endassets %}
{% endblock %}

{% block bodyStart %}
  {% set html %}
    <p class="govuk-body">We use some essential cookies to make this service work.</p>
    <p class="govuk-body">We'd also like to use analytics cookies so we can understand
    how you use the service and make improvements.</p>
  {% endset %}

  {% set accept_html %}
    <p class="govuk-body">You've accepted additional cookies. You can <a
      class="govuk-link" href="/help/cookies"> change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set reject_html %}
    <p class="govuk-body">You've rejected additional cookies. You can <a
      class="govuk-link" href="/help/cookies"> change your cookie settings</a> at any time.</p>
  {% endset %}

  {{ govukCookieBanner({
    'hidden': False,
    'ariaLabel': 'Cookies on GOV.UK',
    'attributes': {
      'data-module': 'govuk-cookie-banner consent',
    },
    'messages': [
      {
        'headingText': 'Cookies on GOV.UK',
        'html': html,
        'classes': 'js-cookie-banner-message',
        'actions': [
          {
            'text': 'Accept analytics cookies',
            'name': 'cookies',
            'value': 'accept',
            'attributes': {
              'data-accept-cookies': 'true',
            }
          },
          {
            'text': 'Reject analytics cookies',
            'name': 'cookies',
            'value': 'reject',
            'attributes': {
              'data-reject-cookies': 'true',
            }
          },
          {
            'text': 'View cookies',
            'href': '/help/cookies'
          }
        ]
      },
      {
        'html': accept_html,
        'classes': 'js-cookie-banner-confirmation-accept',
        'role': 'alert',
        'actions': [
          {
            'text': 'Hide cookie message',
            'type': 'button',
            'href': '#',
            'attributes': {
              'data-hide-cookie-message': 'true',
            }
          }
        ],
        'hidden': True
      },
      {
        'html': reject_html,
        'classes': 'js-cookie-banner-confirmation-reject',
        'role': 'alert',
        'actions': [
          {
            'text': 'Hide cookie message',
            'type': 'button',
            'href': '#',
            'attributes': {
              'data-hide-cookie-message': 'true',
            }
          }
        ],
        'hidden': True
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'navigation': [
      {
        'title': 'Topics',
        'width': 'two-thirds',
        'columns': 2,
        'items': [
            {
              'href': '/browse/benefits',
              'text': 'Benefits'
            },
            {
              'href': '/browse/births-deaths-marriages',
              'text': 'Births, death, marriages and care'
            },
            {
              'href': '/browse/business',
              'text': 'Business and self-employed'
            },
            {
              'href': '/browse/childcare-parenting',
              'text': 'Childcare and parenting'
            },
            {
              'href': '/browse/citizenship',
              'text': 'Citizenship and living in the UK'
            },
            {
              'href': '/browse/justice',
              'text': 'Crime, justice and the law'
            },
            {
              'href': '/browse/disabilities',
              'text': 'Disabled people'
            },
            {
              'href': '/browse/driving',
              'text': 'Driving and transport'
            },
            {
              'href': '/browse/education',
              'text': 'Education and learning'
            },
            {
              'href': '/browse/employing-people',
              'text': 'Employing people'
            },
            {
              'href': '/browse/environment-countryside',
              'text': 'Environment and countryside'
            },
            {
              'href': '/browse/housing-local-services',
              'text': 'Housing and local services'
            },
            {
              'href': '/browse/tax',
              'text': 'Money and tax'
            },
            {
              'href': '/browse/abroad',
              'text': 'Passports, travel and living abroad'
            },
            {
              'href': '/browse/visas-immigration',
              'text': 'Visas and immigration'
            },
            {
              'href': '/browse/working',
              'text': 'Working, jobs and pensions'
            }
          ]
      },
      {
        'title': 'Government Activity',
        'width': 'one-third',
        'items': [
            {
              'href': '/government/organisations',
              'text': 'Departments'
            },
            {
              'href': '/search/news-and-communications',
              'text': 'News'
            },
            {
              'href': '/search/guidance-and-regulation',
              'text': 'Guidance and regulation'
            },
            {
              'href': '/search/research-and-statistics',
              'text': 'Research and statistics'
            },
            {
              'href': '/search/policy-papers-and-consultations',
              'text': 'Policy papers and consultations'
            },
            {
              'href': '/search/transparency-and-freedom-of-information-releases',
              'text': 'Transparency'
            },
            {
              'href': '/government/how-government-works',
              'text': 'How government works'
            },
            {
              'href': '/government/get-involved',
              'text': 'Get involved'
            },
          ]
      }
    ],
    'meta': {
      'items': [
        {
          'href': '/help',
          'text': 'Help'
        },
        {
          'href': '/help/privacy-notice',
          'text': 'Privacy'
        },
        {
          'href': '/help/cookies',
          'text': 'Cookies'
        },
        {
          'href': '/help/accessibility-statement',
          'text': 'Accessibility statement'
        },
        {
          'href': '/contact',
          'text': 'Contact'
        },
        {
          'href': '/help/terms-conditions',
          'text': 'Terms and conditions'
        },
        {
          'href': '/cymraeg',
          'text': 'Rhestr o Wasanaethau Cymraeg'
        },
        {
          'href': '/government/organisations/government-digital-service',
          'text': 'Government Digital Service'
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% assets "govuk_frontend_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  {% assets "application_js" %}<script src="{{ ASSET_URL }}"></script>{% endassets %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      window.ConsentAPIClient = new Consent();
      window.ConsentAPIClient.init({"host": "{{ getenv('CONSENT_API_HOST') }}"})
    })
  </script>
{% endblock %}
