{% extends 'govuk_frontend_jinja/template.html' %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block pageTitle %}Welcome to GOV.UK{% endblock %}

{% block head %}
  <meta name="description" content="GOV.UK - The place to find government services and information - simpler, clearer, faster.">
  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-4.2.0.min.css') }}" /><!--<![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='govuk-frontend-ie8-4.2.0.min.css') }}" /><![endif]-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='application.css') }}" />
{% endblock %}

{% block footer %}
  {{ govukFooter({
    'navigation': [
      {
        'title': 'Topics',
        'width': 'two-thirds',
        'columns': 2,
        'items': [
            {
              'href': '/browse/benefits',
              'text': 'Benefits'
            },
            {
              'href': '/browse/births-deaths-marriages',
              'text': 'Births, death, marriages and care'
            },
            {
              'href': '/browse/business',
              'text': 'Business and self-employed'
            },
            {
              'href': '/browse/childcare-parenting',
              'text': 'Childcare and parenting'
            },
            {
              'href': '/browse/citizenship',
              'text': 'Citizenship and living in the UK'
            },
            {
              'href': '/browse/justice',
              'text': 'Crime, justice and the law'
            },
            {
              'href': '/browse/disabilities',
              'text': 'Disabled people'
            },
            {
              'href': '/browse/driving',
              'text': 'Driving and transport'
            },
            {
              'href': '/browse/education',
              'text': 'Education and learning'
            },
            {
              'href': '/browse/employing-people',
              'text': 'Employing people'
            },
            {
              'href': '/browse/environment-countryside',
              'text': 'Environment and countryside'
            },
            {
              'href': '/browse/housing-local-services',
              'text': 'Housing and local services'
            },
            {
              'href': '/browse/tax',
              'text': 'Money and tax'
            },
            {
              'href': '/browse/abroad',
              'text': 'Passports, travel and living abroad'
            },
            {
              'href': '/browse/visas-immigration',
              'text': 'Visas and immigration'
            },
            {
              'href': '/browse/working',
              'text': 'Working, jobs and pensions'
            }
          ]
      },
      {
        'title': 'Government Activity',
        'width': 'one-third',
        'items': [
            {
              'href': '/government/organisations',
              'text': 'Departments'
            },
            {
              'href': '/search/news-and-communications',
              'text': 'News'
            },
            {
              'href': '/search/guidance-and-regulation',
              'text': 'Guidance and regulation'
            },
            {
              'href': '/search/research-and-statistics',
              'text': 'Research and statistics'
            },
            {
              'href': '/search/policy-papers-and-consultations',
              'text': 'Policy papers and consultations'
            },
            {
              'href': '/search/transparency-and-freedom-of-information-releases',
              'text': 'Transparency'
            },
            {
              'href': '/government/how-government-works',
              'text': 'How government works'
            },
            {
              'href': '/government/get-involved',
              'text': 'Get involved'
            },
          ]
      }
    ],
    'meta': {
      'items': [
        {
          'href': '/help',
          'text': 'Help'
        },
        {
          'href': '/help/privacy-notice',
          'text': 'Privacy'
        },
        {
          'href': '/help/cookies',
          'text': 'Cookies'
        },
        {
          'href': '/help/accessibility-statement',
          'text': 'Accessibility statement'
        },
        {
          'href': '/contact',
          'text': 'Contact'
        },
        {
          'href': '/help/terms-conditions',
          'text': 'Terms and conditions'
        },
        {
          'href': '/cymraeg',
          'text': 'Rhestr o Wasanaethau Cymraeg'
        },
        {
          'href': '/government/organisations/government-digital-service',
          'text': 'Government Digital Service'
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='govuk-frontend-4.2.0.min.js') }}"> </script>
  <script>window.GOVUKFrontend.initAll()</script>
  <!--<![endif]-->
{% endblock %}
