{% set government_activity = [
    {
        "title": "Departments",
        "link": "#departments",
        "description": "Departments, agencies and public bodies",
    },
    {
        "title": "Research and statistics",
        "link": "#research",
        "description": "Reports, analysis and official statistics",
    },
    {
        "title": "News",
        "link": "#news",
        "description": "News stories, speeches, letters and notices",
    },
    {
        "title": "Policy papers and consultations",
        "link": "#policy",
        "description": "Consultations and strategy",
    },
    {
        "title": "Guidance and regulation",
        "link": "#guidance",
        "description": "Detailed guidance, regulations and rules",
    },
    {
        "title": "Transparency documents",
        "link": "#transparency",
        "description": "Data, Freedom of Information releases and corporate reports",
    },
] %}
<section class="homepage-section homepage-section__government-activity">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop" data-module="gem-track-click">
      <div class="homepage-section__heading">
        <div class="homepage-section__heading-wrapper">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Government activity</h2>
        </div>
        <p class="lead-paragraph govuk-!-margin-bottom-0">
          Find out what the government is doing
        </p>
      </div>

      <ul class="homepage-services-and-info__list">
        {% for item in government_activity: %}
          {{ chevron_card(
            description=item.description,
            link=item.link,
            title=item.title,
            track_action="governmentactivityLink",
          ) }}
        {% endfor %}
      </ul>
    </div>

    <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
      <div class="homepage-section__heading">
        <h2 class="govuk-heading-m">Departments and organisations</h2>
      </div>

      <div class="homepage-section__depts" data-module="gem-track-click">
        {{ big_number(
          number=23,
          label="Ministerial departments",
          href="#departments",
          classes="govuk-!-margin-bottom-6",
        ) }}
        {{ big_number(
          number="400+",
          label="Other agencies and public bodies",
          href="#agencies",
          classes="govuk-!-margin-bottom-6",
        ) }}
      </div>
    </div>
  </div>
</section>
