{% set categories = [
    {
        "title": "Benefits",
        "link": "#benefits",
        "description": "Includes eligibility, appeals, tax credits and Universal Credit",
    },
    {
        "title": "Births, deaths, marriages and care",
        "link": "#births",
        "description": "Parenting, civil partnerships, divorce and Lasting Power of Attorney",
    },
    {
        "title": "Business and self-employed",
        "link": "#business",
        "description": "Tools and guidance for businesses",
    },
    {
        "title": "Childcare and parenting",
        "link": "#childcare",
        "description": "Includes giving birth, fostering, adopting, benefits for children, childcare and schools",
    },
    {
        "title": "Citizenship and living in the UK",
        "link": "#citizenship",
        "description": "Voting, community participation, life in the UK, international projects",
    },
    {
        "title": "Crime, justice and the law",
        "link": "#crime",
        "description": "Legal processes, courts and the police",
    },
    {
        "title": "Disabled people",
        "link": "#disabled",
        "description": "Includes carers, your rights, benefits and the Equality Act",
    },
    {
        "title": "Driving and transport",
        "link": "#driving",
        "description": "Includes vehicle tax, MOT and driving licences",
    },
    {
        "title": "Education and learning",
        "link": "#education",
        "description": "Includes student loans, admissions and apprenticeships",
    },
    {
        "title": "Employing people",
        "link": "#employing",
        "description": "Includes pay, contracts, hiring and redundancies",
    },
    {
        "title": "Environment and countryside",
        "link": "#environment",
        "description": "Includes flooding, recycling and wildlife",
    },
    {
        "title": "Housing and local services",
        "link": "#housing",
        "description": "Owning or renting and council services",
    },
    {
        "title": "Money and tax",
        "link": "#money",
        "description": "Includes debt and Self Assessment",
    },
    {
        "title": "Passports, travel and living abroad",
        "link": "#passports",
        "description": "Includes renewing passports and travel advice by country",
    },
    {
        "title": "Visas and immigration",
        "link": "#visas",
        "description": "Apply to visit, work, study, settle or seek asylum in the UK",
    },
    {
        "title": "Working, jobs and pensions",
        "link": "#working",
        "description": "Includes holidays, finding a job and redundancy",
    },
] %}
<section class="homepage-section homepage-section--services-and-info">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="homepage-section__heading homepage-section__heading--border-none">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Topics</h2>
      </div>

      <ul class="homepage-services-and-info__list" data-module="gem-track-click">
        {% for item in categories: %}
          {{ chevron_card(
            description=item.description,
            link=item.link,
            title=item.title,
            track_action="topicsLink",
          ) }}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
